.gallery-row{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 13px 3px 13px 3px;
    padding: 13px 3px 13px 3px;
}

.gallery-row-pet{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 13px 3px 13px 3px;
    padding: 13px 3px 13px 3px;
}

.gallery-row.row-lg{
    height: 33vh
}

.gallery-img{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 33px 33px 32px 32px;
    background-position: center;
}

.gallery-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.gallery-img.box-sm{
    width: 28%;
    height: 90%;
    margin: 5px;
}

.gallery-txt.box-half{
    width: 50%;
    height: 90%;
    margin: 5px;
}

.gallery-img.box-med,
.gallery-txt.box-med{
    width: 32%;
    height: 90%;
    margin: 5px;
}

.gallery-txt.box-lg{
    width: 70%;
    height: 90%;
    margin: 5px;
}

.gallery-img.box-lg{
    width: 100%;
    height: 100%;
    margin: 12px;
    background-position: center;
}

.petheader{
    text-align: center;
    padding: 33px 33px 33px 33px;
}

@media only screen and (max-width: 768px) {
    .layout_padding {
        padding: 20px 13px 20px 13px!important;
        margin: 20px 15px 20px 15px!important;
    }
    
    
    .gallery-img.box-lg,
    .gallery-img.box-med,
    .gallery-img.box-sm{
        width: 100%;
        height: 33vh;
        background-position: center
    }
    .gallery-txt.box-half,
    .gallery-txt.box-lg,
    .gallery-txt.box-med{
        width: fit-content;
        height: fit-content;
    }
    .gallery-row,
    .gallery-row.row-lg{
        flex-direction: column;
        height: fit-content
    }
    .gallery-row-pet,
    .gallery-row-pet.row-lg{
        flex-direction: column!important;
        height: fit-content
    }
}

@media only screen and (orientation: landscape) and (max-height: 565px) {
    .gallery-row,
    .gallery-row.row-lg{
        flex-direction: row;
        height: fit-content;
        margin:auto;
    }
    .gallery-img.box-lg,
    .gallery-img.box-sm{
        width:50vw;
        height: 100vh
    }
    .gallery-txt.box-half,
    .gallery-txt.box-lg{
        width: 50vw;
        height: fit-content;
    }
    .gallery-txt.box-med{
        flex: 0 0 90%;
            -ms-flex: 0 0 90%;
        width: 90vw; 
        order: 3;
    }
    .gallery-img.box-med{
        flex: 0 0 45%;
            -ms-flex: 0 0 45%;
        height: 100vh;
    }
    .gallery-row.row-3{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}