<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="UTF-8">
  <title>About Me</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" *content*="IE=edge">
 
 
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
    <style>
    body {
      background-image: url("https://ak.picdn.net/shutterstock/videos/1032769898/thumb/1.jpg");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

html, body {
  width: 100%;
  height:100%;
}


body {
    background: linear-gradient(-45deg, #f1eaed, #1291db, #f8be00, #f0f1ec);
    background-size: 800% 800%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
    </style>

  <h1 style="text-align:center">Welcome to my About me</h1>
  <h2 style="text-align:center">Jorge Figueroa</h2>
  <h3 style="text-align:center"><a href="mailto:EMAIL_ADDRESS">fig.jay369@gmail.com</a></h3>
  <p> <br /> </p>








 <center><img src="https://quotefancy.com/media/wallpaper/3840x2160/2196018-Terence-McKenna-Quote-If-reality-is-code-then-it-can-be-hacked-in.jpg" alt="Terrence M Quote"
width="400"
height="420" /></center> 



<p> <br /> </p>
<p> <br /> </p>
<p> <br /> </p>

<h1>&nbsp;&nbsp;About Me</h1>

<p> <br /> </p>




<p class="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My family migrated to united states from El Salvador back in the 80's escaping a civil war, I am a first generation Salvadorian American, and I never took advantage of schooling when I was younger so now I’m trying my best to push myself past my boundaries and comfort zone. I know there is a lot of knowledge out there and I want to learn as much as I can in my lifetime and hopefully apply those skills for something greater than myself.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I came across TheClubhou.se accidently from my brother-in-law who moved down here with my from NY with his family and have then decided that since I was coming down for a fresh start that this program wis aligned which my current interest in life as far as a career in being a developer. The Clubhou.se seemed like the perfect investment in myself to learn how to program to implement these skills to build a standard web application from the front-end design to back-end data management to start my journey as a Web Developer.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As I go thru the journey of becoming a Web Developer I plan on using those skill to help contribute to a DAO Project I am currently involved in that is on the Stellar Blockchain called THE JPEG DAO where the members collaborate to provide the community with amazing NFT experiences!</p>

<p> <br /> </p>
<h2><p style="text-align: center;">"The greatest superpower is the ability to change yourself."</p></h2>
<h2><p style="text-align: center;">- Naval Ravikant</p>

<p> <br /> </p>


<h4>&nbsp;&nbsp;These are some of the things I like to do on a daily basis and would like to share with you today</h4>
<p> <br /> </p>
<ul>
<p><li>Learning new things</li></p>
<p><li>Gaming</li></p>
<p><li>Helping others</li></p>
</ul>


<p> <br /> </p>

<h4>&nbsp;&nbsp;Some fun facts about me</h4>


<ul>
  <p><li>Cooking is a passion of mine and I enjoy how it allows me to learn more about other cultures.</li></p>
  <p><li>Never try to get me to dance due to the fact that I am terrible Dancer.</li></p>
  <p><li>I can beat anyone in FIFA and all challengers are welcomed to find out.</p>
  <p><li>I have extensive knowledge about natural stone.</li></p>
  <p><li>I love using Analogies.</li></p>
  <p><li>I have had about 18 different jobs in my life and each one has been a stepping stone in advancements in my career.</li></p>
  <p><li>Soccer is my favorite sport.</li></p>
  <p><li>I enjoy have discussions about ideas.</li></p>
  <p><li>I spend a lot of time on twitter where I regularly post and share things that are NFT/Crypto/blockchain related.</li></p>
</ul>  


<p> <br /> </p>

<h3>&nbsp;&nbsp;To Learn more about The JPEG DAO and its commnunity visit our website at <a href="https://www.thejpegdao.com/">www.thejpegdao.com</a></h3>




  <script src="js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>
</html>
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="https://www.w3.org/1999/xhtml">

<head>
  <title>Email Signature</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" class="ng-scope">
  <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
</head>

<body style="font-family:Verdana, Open Sans, Helvetica, sans-serif;">
  <table style="font-family:Verdana, Open Sans, Helvetica, sans-serif;" cellpadding="0" cellspacing="0"
    class="ng-scope">
    <tbody>
      <tr>
        <td
          style="width:169px; padding-left:6;padding-right:5; font-family:Verdana; text-align:center; vertical-align:middle;"
          valign="middle" width="113">
          <img ng-if="showField('photo')"
            ng-src="https://fig369.github.io/images/FIG.png"
            alt="Photograph" width="180" height="180" border="0"
            style="width:180px; height:180px; border-radius:none; border:0;" class="ng-scope"
            src="https://fig369.github.io/images/FIG.png">
        </td>
        <td style="font-family:Open Sans; border-bottom:3px solid #056ba7; padding:0; vertical-align:top;" valign="top">
          <table style="font-family:Open Sans, Helvetica, sans-serif;" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td
                  style="font-family:Open Sans; padding-bottom:0px; padding-top:0; padding-left:0; padding-right:0; vertical-align:top;"
                  valign="top">
                  <strong><span
                      style="font-family:Open Sans, Verdana; color:#012d8d; font-size:13.69pt; font-weight: 700;"
                      class="ng-binding">Jorge Figueroa</span></strong><br>
                </td>
              </tr>
              <tr>
                <td>
                  <span
                    style="font-family:Open Sans; color: rgb(101, 130, 146); font-size:10pt; font-weight: 700; line-height: 20px;"
                    ng-if="showField('title')" class="ng-binding ng-scope">Web Dev</span>
                </td>
              <tr>
                <td>
                  <span
                    style="font-family:Open Sans; color: rgb(101, 130, 146); font-size:10pt; font-weight: 700; line-height: 20px;"
                    ng-if="showField('title')" class="ng-binding ng-scope">Salesforce Admin</span>
                </td>
              </tr>
              <td>
                <span
                  style="font-family:Open Sans; color: rgb(101, 130, 146); font-size:10pt; font-weight: 700; line-height: 20px;"
                  ng-if="showField('title')" class="ng-binding ng-scope">Freelance</span>
              </td>
      </tr>
      <td>
        <span
          style="font-family:Open Sans; color: rgb(101, 130, 146); font-size:10pt; font-weight: 700; line-height: 20px;"
          ng-if="showField('title')" class="ng-binding ng-scope">Verified Litemint Artist</span>
      </td>
      </tr>
      <td>
        <span
          style="font-family:Open Sans; color: rgb(101, 130, 146); font-size:10pt; font-weight: 700; line-height: 20px;"
          ng-if="showField('title')" class="ng-binding ng-scope">Chef</span>
      </td>
      </tr>
      <tr ng-if="isAnyFieldEntered('email, mobile, phone')" class="ng-scope">
        <td
          style="font-family:Open Sans; padding-bottom:6px; padding-top:0; padding-left:0; padding-right:0; line-height:18px; vertical-align:top; letter-spacing: 1..05;"
          valign="top">
          <span style="font-family:Open Sans, Verdana; font-size:9pt;font-weight: 600; color: rgb(101, 130, 146);"
            ng-if="showField('email')" class="ng-binding ng-scope">Email: <a href="mailto: Figueroa.jorge20@gmail.com"
              style="color:#003393; text-decoration: none;">Figueroa.jorge20@gmail.com</a><br>
          </span><span style="font-family:Open Sans, Verdana; font-size:9pt;font-weight: 600;color: rgb(101, 130, 146);"
            ng-if="showField('phone')" class="ng-binding ng-scope">Phone: <a href="tel:1-631-953-7683"
              style="color:#169300; text-decoration: none;">631-953-7683</a><br></span>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
  </tr>
  <tr>
    <td
      style="font-family:Verdana; width:120px; padding-top:6px; padding-left:0; padding-right:0; text-align:center; vertical-align:middle; font-size: 13px;"
      valign="middle" width="120">
      <span ng-if="showField('twitterURL')" class="ng-scope"><a href="https://twitter.com/3Fig69" target="_blank"><img
            border="0" width="16" height="16" ng-src="/email/twitter.png" alt="Twitter icon"
            style="border:0; height:16px; width:16px"
            src="/email/twitter.png"></a>&nbsp;</span>

      <span ng-if="showField('linkedinURL')" class="ng-scope"><a href="https://www.linkedin.com/in/jayfig/"
          target="_blank"><img border="0" height="16" width="16"
            ng-src="/email/linkedin.png" alt="LinkedIn icon"
            style="border:0; height:16px; width:16px"
            src="/email/linkedin.png"></a>&nbsp;</span>

      <span ng-if="showField('youtubeURL')" class="ng-scope"><a
          href="https://www.youtube.com/watch?v=WYjM-RiZjIE&list=PL1r_Iih-57Ou3CajApB9NYxpXM873cX4V"
          target="_blank"><img border="0" width="16" height="16" ng-src="/email/youtube.png"
            alt="Facebook icon" style="border:0; height:16px; width:16px"
            src="/email/youtube.png"></a></span>

    </td>
    <td
      style="padding-top:6px; padding-bottom:0; padding-left:0; padding-right:0; color:#004c93;  font-family:russo one, Verdana; font-size:11pt;letter-spacing: 1.1; vertical-align:middle;"
      valign="middle">Jorge Figueroa&nbsp;&nbsp;<span style="color:#ffffff;">|</span>&nbsp;
      <a href="https://fig369.github.io/" target="_blank"
        style="color:#002793;  font-family:russo one, Verdana; font-size:11pt;letter-spacing: 1.1;text-decoration: none;"
        class="ng-binding">https://fig369.github.io/</a>
    </td>
  </tr>
  </tbody>
  </table>
</body>
<p> <br /> </p>
<p> <br /> </p>
<p> <br /> </p>

</html>