h1 {
    color: #b808db;
    font-weight: normal;
    font-family: "Ultra", sans-serif;
    font-size: 66px;
    line-height: 66px;
    text-transform: uppercase;
    text-shadow: 0 5px rgb(5, 64, 141), 0 6px rgb(0, 102, 255);
    text-align: center;
    margin-top: 33px;
    margin-bottom: 33px;
}

body {
    background-image: url("https://images.unsplash.com/photo-1596016691838-70260f1e21c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
}

.tb {
    padding: 20px;
    background: rgb(93 85 117 / 33%);
    background-size: cover;
    color: #fff;
    font: 18px Arial, sans-serif;
}

ul {
    list-style-position: inside;
    text-align: left !important;
    padding-left: 40px;
    margin-bottom: 33px;
}

ol {
    list-style-position: inside;
    text-align: left !important;
    padding-left: 40px;
    margin-bottom: 33px;
    font-style: italic;
}

blockquote,
q {
    quotes: none;
}

.table {
    border: 3px solid rgb(246, 250, 246);
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 17px;
}

.table2 {
    border: 3px solid rgb(246, 250, 246);
    padding-top: 17px;
    padding-bottom: 17px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 580px;
}

p {
    padding: 20px;
    background: rgba(93, 85, 117 0.33%);
    color: #fff;
    font: 18px Arial, sans-serif;
}

.para {
    font-family: "Times New Roman", Times, serif;
    font-size: 21px;
    color: aliceblue;
    text-align: center;
    max-width: 60%;
    padding-bottom: 33px;
}

.para2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 21px;
    color: aliceblue;
    text-align: center;
    max-width: 44%;
    padding-bottom: 33px;
}

.und {
    text-decoration-line: underline;
    text-decoration-color: cyan;
}

.st {
    text-decoration-line: line-through;
    text-decoration-color: red;
    text-decoration-style: wavy;
}

a {
    color: rgb(255, 153, 0);
}

#JPEG {
    color: #f7b707;
    font-weight: normal;
    font-family: "Ultra", sans-serif;
    font-size: 17px;
    line-height: 15.5px;
    text-transform: uppercase;
    text-shadow: 0 3px rgb(193, 2, 252), 0 3px rgb(49, 9, 77);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#lite {
    color: #f8b807;
    font-weight: normal;
    font-family: "Ultra", sans-serif;
    font-size: 21px;
    line-height: 19px;
    text-transform: uppercase;
    text-shadow: 0 3px rgb(130, 5, 141), 0 3px rgb(84, 7, 136);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .main {
      width: 95%;
      height: 580px;
    }
    h1 {
      font-size: 24px;
    }
    .player-container {
      margin-right: 20px;
    }
    .reset-icon {
      margin-top: 25px;
      margin-left: 25px;
    }
  }
  
  /*Iphone*/
  @media screen and (max-width:376px) {
    .main {
      height: 550px;
    }
    h1 {
      font-size: 22px;
    }
    .player-container {
      margin: 43px 0px 25px 20px;
    }
    .far {
      font-size: 43px;
    }
    .reset-icon {
      margin-top: 15px;
    }
    .result-container {
      margin: 0 20px;
    }
  }
  